body {
	position: absolute;
	top: 0;
	bottom: 0;
	font-family: 'Segoe UI', sans-serif;
	color: #101010;
	width: 100%;
}

header {
	max-width: 768px;
	width: 100%;
	margin: 20px 10%;
}

header .pageTitle1 {
	font-size: 1.2em;
	margin-bottom: 0;
	font-weight: 100;
	color: #606060;
}
header .pageTitle2 {
	font-size: 3em;
	margin-top: 6px;
	margin-bottom: 20px;
	font-weight: 200;
}

header .scroller_anchor{
	height:0px; 
	margin:0; 
	padding:0;
}
header form {
	margin: 0px 0px 20px;
	padding-top: 12px;
	width: 768px;
}

header form input[type='text'] {
	width: calc(100% - 110px);
	height: 40px;
	border: 1px solid #e0e0e0;
	border-right: none;
	padding-left: 20px;
}

header form input[type='text']:focus {
	border: 1px solid #2376FF;
	outline: 0;
}

header form button {
	height: 40px;
	width: 100px;
	background-color: #2376FF;
	color: white;
	border: none;
	font-weight: 800;
	margin-left: -4px;
}

header form .searchOptions {
	width:768px;
}

header form input[type='radio'] {
	display: none;
}

header form input[type='radio'] + label {
	display: inline-block;
	text-align: center;
	width: 80px;
	padding: 20px 0 10px 0;
	background-color: transparent;
	margin-right: 10px;
	color: #303030;
	font-weight: 300;
	border-bottom: solid 2px #e0e0e0;
	overflow: hidden;
}

header form input[type='radio'] + label:hover {
	cursor: pointer;
}

header form input[type = 'radio']:checked + label {
	color: #2376FF;
	border-bottom: solid 2px #2376FF;
	border-top: solid 1px #2376FF;
	font-weight: 800;
}

#count {
	float: right;
	margin: 20px 0 10px 0;
	color: #999;
	font-size: 12px;
	font-weight: 100;
}



table {
	width: 80%;
	margin: 0 10%;
	max-width: 768px;
}

.result {
	padding: 0 10px 10px;
	border-bottom: solid 1px #e0e0e0;
}

	.result .title {
		font-size: 1.5em;
		color: #2376FF;		
		margin: 20px 0 10px;
		display: block;
	}
	.result .resultInfo p {
		display: inline-block;
		padding-right: 20px;
		font-weight: 800;
	}
	.result .author {
		color: #202020;
	}
	.result .year {
		color: #202020;
	}
	.result .abstract {
		color: #101010;
		font-weight: 100;
		margin-left: 10px;
		margin-right: 10px;
	}
	.result .placeholder {
		color:#999;
		font-style: italic;
		font-weight: 100;
	}
	.result .venueDetails #venueType {
		color: #303030;
	}
	.result .venueDetails {
		color: #3263B5;
		font-weight: bold;
		margin-top: 20px;
	}

.pageNumbers {
	text-align: center;
	margin: 20px 0;
}
.pageNumbers a {
	display: inline-block;
	text-align: center;
	width: 40px;
	height: 40px;
	background-color: #e0e0e0;
	margin-right: 10px;
	color: #101010;
	line-height: 40px;
	font-weight: 300;
	overflow: hidden;
}
.pageNumbers .selected {
	color: white;
	font-weight: bold;
	background-color: #2376FF;
}
.pageNumbers a:hover {
	color: #2376FF;
	cursor: pointer;
}
.pageNumbers .truncs {
	color: #303030;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0 15px 0 5px;
}

footer {
	background-color: #2376FF;
	width: 100%;
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
}
#help {
	color: #9ecaed;
	position: relative;
	font-size: 15px;
	font-family: Arial;
	display: block;
	width: 100px;
	margin: 0;
	text-align: center;
	color: #FFFFFF;
}
#helpSlide {
	display: none;
	background-color: #ffffff;
	padding: 20px;
	width: 100%;
	color: #000000;
	position: fixed;
	bottom: 20;
}

#resultFooter {
	position: relative;
	background-color: #303030;
}
#resultFooter div {
	text-align: right;
	line-height: 40px;
	font-weight: bold;
	color: white;
	margin-right: 20px;
}
#splashFooter p, a{
	display: inline-block;
	color: white;
	margin: 0 10px;
}

.menuHeaderContainer{
	position: relative;
	top: 0%;
	bottom: 80%;
	left: 0%;
	background: #2376FF;
}
