body {
	width: 100%;
	height: 100%;
	margin: 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: none;
	background-image:url('triangular.png');
}

.container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.text {
	font-size:7em;
	font-weight:bold;
	font-family: Arial;
	color:#FFFFFF;
	position:relative;
	margin: 0px;
}

.text2 {
	font-size:3em;
	font-family: Arial;
	color:#FFFFFF;
	position:relative;
	margin: 0px;
	margin-top: 90px;
	margin-left: 1%;
}

.round {
    border: 2px solid #dadada;
    border-radius: 25px;
    height: 42px;
    width: 650px;
    padding-left: 20px;
    margin-top: 30px;
    float: left;
}

.round:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.button {
	border: 2px solid #9ecaed;
	background-color: #9ecaed;
    border-radius: 25px;
    height: 42px;
    width: 100px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
    float: left;
    color: white;
}

.button:hover {
	border: 2px solid #dadada;
}

input[type='radio'] {
	display: none;
}

input[type='radio'] + label {
	display: inline-block;
	text-align: center;
	width: 80px;
	padding: 10px 0;
	background-color: #FFF;
	border: 1px solid #E0E0E0;
}

input[type = 'radio']:checked + label {
	background-color: grey;
}

footer {
	background-color: #FFFFFF;
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

footer p {

	color: #9ecaed;
	position: relative;
	font-size: 20px;
	font-family: Arial;
	display: block;
	width: 100px;
	height: 60px;
	margin: 0px;
	text-align: center;
	padding-top: 20px;
}

.list {
	width: 500px;
	height: 1px;
}
