body {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #303030;
	font-family: 'Open Sans', sans-serif;
	color: white;
	width: 100%;
}

header {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}

.form-control {
	width: 60%;
	display: inline;
}

.btn {
	width: 10%;
}

.container {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}

table {
	width: 50%;
}

.row {
	margin-top: -5px;
	margin-bottom: 50px;
}

.result {
	background-color: grey;
}

.abstract {
	position: fixed;
	right: 10px;
	display: none;
}

footer {
	background-color: #2376FF;
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0;
}

footer p {
	color: #9ecaed;
	position: relative;
	font-size: 15px;
	font-family: Arial;
	display: block;
	width: 100px;
	height: 60px;
	margin: 0;
	text-align: center;
	padding-top: 10px;
	color: #FFFFFF;
}
